
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/manager.css" rel="stylesheet" type="text/css"/>
    <style>
        img{
            width: 200px;
            height: 120px;
        }
    </style>

<body onload="findAllUser(0)">
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Ecommerce</b></h2>
                </div>
            </div>
        </div>
        <tr>
            <td colspan="2"><h3 id="title"></h3></td>
        </tr>
        <div  style="float: right">
            <button class="btn btn-success" id="action"></button>
        </div>
        <div  style="float: right">
            <button class="btn btn-success" onclick="findAllCategory()" id="action1">Show All Category</button>
        </div>
        <div style="float: right">
            <button id="btn-create" class="btn btn-success" onclick="createForm()">
                Create new category
            </button></div>
        <div id="list_user"></div>
        <div id="page"></div>
        <div id="list_category"></div>
        <div id="page1"></div>
        <div id="form1">
            <form>
                <h1>Form Create</h1>
                <div class="mb-3 mt-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="mb-3 mt-3">
                    <label><button class="btn btn-primary" onclick="createCategory()">Create</button></label>
                    <button class="btn btn-primary" onclick="back()">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="admin.js"></script>
</body>
</html>